<div id="msg-answer-correct" class="overlay-text">
  <h1>Great!<h1>
  <h1>You got it!</h1>
  <br>
  <button id="btn-answer-correct" class="btn btn-success btn-lg">OK</button>
</div>

<div id="msg-answer-wrong" class="overlay-text">
  <h1>Noop!</h1>
  <h1>Think Again!</h1>
  <br>
  <button id="btn-answer-wrong" class="btn btn-success btn-lg">OK</button>
</div>

<div id="msg-answer-correct-again" class="overlay-text">
  <h1>You're RIGHT again !<h1>
  <h1>(No score added)</h1>
  <br>
  <button id="btn-answer-correct-again" class="btn btn-success btn-lg">OK</button>
</div>

<div id="msg-pass" class="overlay-text">
  <h1>Congragulations !!!<h1>
  <h1>You Pass this Test!</h1>
  <br>
  <button id="btn-pass" class="btn btn-success btn-lg">OK</button>
</div>

<div id="msg-timesup" class="overlay-text">
  <h1>Time's Up<h1>
  <br>
  <button id="btn-timesup" class="btn btn-success btn-lg">OK</button>
</div>