<div class="game-info-container overlay-text-score">
  <div class="counter-info">
    Time <span id="timerDisp">0:00</span>
  </div>
  <div class="counter-info">
    Score <span id="pointsDisp">0</span>
  </div>
</div>