<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/utilities.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Read Our Blog</title>
  </head>
  <body id="home">
    <header class="hero blog">
      <div id="navbar" class="navbar top">
        <h1 class="logo">
          <span class="text-primary"><i class="fas fa-book-open"></i> 三星製造</span
          >未來假日學校
        </h1>
        <nav>
          <ul>
            <li><a href="index.html">主頁</a></li>
          </ul>
        </nav>
      </div>

      
    </header>

    <main>
      <article class="flex-columns">
        <div class="row">
          <div class="column">
            <div class="column-1">
              <img src="images/blog/blog1/s1.jpg" alt="" />
            </div>
          </div>
          <div class="column">
            <div class="column-2 bg-light">
              <h2>公告 1</h2>
              <p>
                為了給學生一個值得回憶的畢業典禮，假日學校的老師們受邀到學校佈置畢業展牆面，共同創作，留下“今年的我們”，為2022年畢業的大家，青春定格。</p>
              </p>
              <a href="/post1" class="btn btn-dark">
                <i class="fas fa-chevron"></i>
                讀更多
              </a>
            </div>
          </div>
        </div>
      </article>

      <article id="blog2" class="flex-columns flex-reverse">
        <div class="row">
          <div class="column">
            <div class="column-1">
              <img src="images/blog/blog2/s.jpg" alt="" />
            </div>
          </div>
          <div class="column">
            <div class="column-2 bg-dark">
              <h2>公告 2</h2>
              <p>
                👆本競賽是以四次體驗創業課程做為競賽模式，讓學生在線上自主創業，將邀請業師帶領，從無到有，體驗一次完整的少年創業。
                <br>👆四週的課程內容
                <br>1.線上商店
                <br>2.境內物流
                <br>3.智慧商業模式
                <br>4.智在家鄉實戰
                <br>完成一次線上創業體驗
                <br>三星製造創業實戰比賽6/4.6/11.6/18.6/25      
                <br>連結點：<a id="aa" href="https://meet.google.com/tso-gdih-psb" target="_blank">https://meet.google.com/tso-gdih-psb</a> (Tmail登入)
              </p>
              <a href="/post2" class="btn btn-light">
                <i class="fas fa-chevron"></i>
                讀更多
              </a>
            </div>
          </div>
        </div>
      </article>

    </main>

    <footer class="footer bg-dark">
      <div class="social">
        <a href="https://www.facebook.com/made.in.ssjh/"  target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
      </div>
      <p>Copyright &copy; 2022 - Made in ssjh</p>
    </footer>

    <script>
      const navbar = document.getElementById('navbar');
      let scrolled = false;

      window.onscroll = function () {
        if (window.pageYOffset > 100) {
          navbar.classList.remove('top');
          if (!scrolled) {
            navbar.style.transform = 'translateY(-70px)';
          }
          setTimeout(function () {
            navbar.style.transform = 'translateY(0)';
            scrolled = true;
          }, 200);
        } else {
          navbar.classList.add('top');
          scrolled = false;
        }
      };
    </script>
  </body>
</html>
