<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("./partials/header_test.ejs") %>
</head>
<body>
  <!-- **** Hidden Message Elements below-->
  <%- include ("./partials/body_msg.ejs") %>

  <!-- Shown page below: -->
  <div class="game-container">
    <%- include ("./partials/body_counter.ejs") %>

    <!-- Question: -->
    <div class="container row">
      <div class="col-md-6 game-info">
        <strong>Consider the code: </strong><br>
        <script src="https://gist.github.com/kevinckliao/5bb3e048fe7b915a0d5b32ea8f3c5958.js"></script>
      </div>

      <div class="col-md-6 game-info answer-size">
        <strong>Which of the following function calls returns 30 ?</strong><br>
        <br>

        <p>
        <input type="checkbox" id="choiceA" name="choice" value="A">
        A: cal()
        </p>

        <p>
        <input type="checkbox" id="choiceB" name="choice" value="B">
        B: cal(10)
        </p>

        <p>
        <input type="checkbox" id="choiceC" name="choice" value="C">
        C: cal(5,2)
        </p>

        <p>
        <input type="checkbox" id="choiceD" name="choice" value="D">
        D: cal(1)
        </p>

      </div>
    </div>

    <div class="">
      <input type="button" name="B" id="btnCheck" value="Check" class="btn btn-lg btn-success btn-space">
      <!-- hide right answer in 'name' properity -->

      <input type="button" name="L1" id="btnNext" value="Next" class="btn btn-lg btn-warning btn-space">
      <!-- hide Next-Level in 'name' properity -->

      <input type="button" id="btnHome" value="Home" class="btn btn-lg btn-danger btn-space">
    </div>
    
  </div>

</body>
</html>