<!DOCTYPE html>
<html lang="en">
<html manifest="myapp.appcache">
<head>
  <%- include ("./partials/header_test.ejs") %>
</head>
<body>
  <!-- **** Hidden Message Elements below-->
  <%- include ("./partials/body_msg.ejs") %>

  <!-- Shown page below: -->
  <div class="game-container">
    <%- include ("./partials/body_counter.ejs") %>

    <!-- Question: -->
    <div class="container row">
      <div class="col-md-6 game-info answer-size">
        <p>You write the following code:
          <script src="https://gist.github.com/kevinckliao/ff5049b662d90827467898d183a25d09.js"></script>
      </div>

      <div class="col-md-6 game-info answer-size">
        <p>What output sequence would it be ?</p><br>

        <p class="code-text">
        <input type="checkbox" id="choiceA" name="choice" value="A">
        A: False False True True
        </p>

        <p class="code-text">
        <input type="checkbox" id="choiceB" name="choice" value="B">
        B: True False True False  
        </p>

        <p class="code-text">
        <input type="checkbox" id="choiceC" name="choice" value="C">
        C: False True False True 
        </p>

        <p class="code-text">
        <input type="checkbox" id="choiceD" name="choice" value="D">
        D: True True True True
        </p>

      </div>
    </div>

    <div class="">
      <input type="button" name="B" id="btnCheck" value="Check" class="btn btn-lg btn-success btn-space">
      <!-- hide right answer in 'name' properity -->

      <input type="button" name="L1" id="btnNext" value="Next" class="btn btn-lg btn-warning btn-space">
      <!-- hide Next-Level in 'name' properity -->

      <input type="button" id="btnHome" value="Home" class="btn btn-lg btn-danger btn-space">
    </div>
    
  </div>

</body>
</html>