<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CoderPass</title>
        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="Assets/login-form/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="Assets/login-form/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="Assets/login-form/css/form-elements.css">
        <link rel="stylesheet" href="Assets/login-form/css/login.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons
        <link rel="shortcut icon" href="Assets/login-form/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Assets/login-form/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Assets/login-form/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Assets/login-form/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="Assets/login-form/ico/apple-touch-icon-57-precomposed.png">
        -->
        <!-- use our own Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <!-- %- locals.flash % -->
        <!-- Top content -->
        <div class="top-content">        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>CoderPass.app</strong></h1>
                            <div class="description">
                            	<p>
                                    Help CODER PASS Certificates
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login</h3>
                            		<p></p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
                                <!-- <form role="form" action="/login" method="post" class="login-form" onsubmit="return sendUserInfo();" -->
                                <form role="form" action="/login" method="POST" class="login-form">    
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-username">Username</label>
			                        	<input id="username" name="username" type="text" placeholder="User Name..." class="form-password form-control" id="password">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input id="password" name="password" type="password" placeholder="Password..." class="form-password form-control">
			                        </div>
			                        <button id="btn-login" class="btn">完成</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="Assets/login-form/js/jquery-1.11.1.min.js"></script>
        <script src="Assets/login-form/bootstrap/js/bootstrap.min.js"></script>
        <script src="Assets/login-form/js/jquery.backstretch.min.js"></script>
        <script src="Assets/login-form/js/login.js"></script>
        
        <!--[if lt IE 10]>
            <script src="Assets/login-form/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>