<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="main.js" async></script>
  <title>CoderPass</title>
</head>
<body>
  <div class="game-container">
    <div class="game-info-container">
      <div class="game-info">
        CoderPass <br>.app<br><br>

        <button class="menu-btn" id="btn-qz1">10 min</button>
        <button class="menu-btn" id="btn-qz1">20 min</button>
        <button class="menu-btn" id="btn-qz1">30 min</button>
        <br>
        <button class="menu-btn" id="btn-qz1">FULL 40 min</button>
        
        <!-- <button class="menu-btn" id="L9">TEST</button> -->
        <!-- <div class="overlay-text-small"> -->
        <!-- + <span id="scores">0</span> points -->
        <!-- </div> -->
        <br><br>
        <button class="btn-replay-exit" onclick="window.location.replace('/about');">
          說明
        </button>
        <br>
        <button class="btn-replay-exit" id="btn-replay">重測</button>
        <!--br-->
        <button class="btn-replay-exit" id="btn-exit">離開</button>

        <br><br>
        


      </div>
    </div>
  </div>

</body>
</html>